<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Christ the Redeemer</title>
    </head>
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
        }

        h3 {
            color: rgba(100, 240, 21, 1);
        }

        p,
        li {
            color: white;
        }
    </style>

    <body>
        <!--Paragraph and Bullet Points-->
        <h3>Information about the Christ Redeemer!</h3>
        <p>Christ the Redeemer, an iconic symbol of Rio de Janeiro, Brazil, stands majestically atop the Corcovado mountain, overlooking the vibrant city below. This monumental Art Deco statue of Jesus Christ, reaching a height of 98 feet (30 meters), was crafted by French sculptor Paul Landowski and completed in 1931 by Brazilian engineer Heitor da Silva Costa. Its outstretched arms span 92 feet (28 meters), symbolizing a welcoming embrace. As one of the New Seven Wonders of the World, Christ the Redeemer not only holds significant religious importance but also serves as a testament to human ingenuity and artistic achievement.
        </p>
        <ul>
            <li>The statue is made of reinforced concrete and soapstone, contributing to its enduring presence on the mountaintop.
            </li></br>
            <li>Christ the Redeemer is a UNESCO World Heritage Site, attracting millions of visitors annually to witness its grandeur and panoramic views.
            </li></br>
        </ul>

    </body>

</html>