<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colosseum</title>
</head>
<style>
    body {
        font-family: 'Helvetica', sans-serif; 
    }

    li {
        color: white;
    }

    h3 {
        color: rgba(100, 240, 21, 1); 
    }

</style>
<body>
    <h3>Fun Facts!</h3>
    <ul>
        <li>Contrary to the common belief that it was built on a man-made lake, the Colosseum's arena could be flooded to host mock sea battles, or naumachiae.</li></br>
        <li>Recognized as the largest amphitheater ever built, the Colosseum could accommodate up to 80,000 spectators.</li></br>
        <li>The Colosseum featured an ingenious system of underground tunnels and chambers known as the hypogeum.</li></br>
        <li>The inaugural games held at the Colosseum lasted for a hundred days and included gladiatorial contests and animal hunts.</li></br>
        <li>The project utilized a variety of materials, including travertine limestone, Tivoli travertine, and Roman cement, showcasing the empire's vast resources and engineering capabilities.</li>
    </ul>
</body>
</html>
