<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Taj Mahal</title>
    </head>
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
        }

        h3 {
            color: rgba(100, 240, 21, 1);
        }

        p {
            color: white;
        }
    </style>

    <body>
        <!--Text blurbs-->
        <h3>Information about the Taj Mahal!</h3>
        <p>The Taj Mahal, an iconic symbol of love and architectural brilliance, is a white marble mausoleum located in Agra, India. Commissioned in the 17th century by the Mughal Emperor Shah Jahan in memory of his beloved wife Mumtaz Mahal, the monument stands as a testament to enduring love and exquisite craftsmanship. Adorned with intricate carvings, delicate inlays, and surrounded by beautiful gardens, the Taj Mahal is celebrated not only for its historical significance but also for its timeless beauty, making it one of the Seven Wonders of the World.
        </p>
        <p>A UNESCO World Heritage Site, the Taj Mahal continues to captivate as a symbol of eternal love and architectural brilliance.
        </p>
    </body>

</html>